/* 1. Impor layer dasar Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Font default WDD */
body {
  font-family: 'Inter', sans-serif;
  color: #333333; /* Sesuai 'gibei-text' */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #1a4162; /* Sesuai 'gibei-primary' */
}

/* PERBAIKAN: Menghapus class .fade-enter-active, .fade-leave-active, 
  .fade-enter-from, dan .fade-leave-to dari sini.
*/